@page {
	margin: 30px;
}

table.product-table,
table.refund-table{
	border-collapse: collapse;
	border-bottom: 2px solid #ffd926;
}
table.refund-table {
	border-top: 2px solid #ffd926;
}

table.product-table tr:nth-child(1) th {
	background-color: #ffd926;
}

.total-last-td-label {
	height: 2px;
	background: #ffd926;
}

.total-last-td-value {
	background: #ffd926;
}
.bank-account-list-header {
	background: #ffd926;
}
.bank-account-list-header th{
	height: 20px;
}
