.rtl ._winvoice-dashboard-sidebar {
	float: right;
}

.rtl ._winvoice-wrap {
	margin: 20px 0 20px 20px;
}

.rtl label._winvoice-fixed-label {float:right;}

.rtl ._winvoice-toggle-label {float:right;}

.rtl ._winvoice-toggle-container {
	float: right;
}

.rtl ._winvoice-custom-checkbox-container {
	margin-right: 42%;
	margin-left: 0;
}

.rtl ._winvoice-custom-control._winvoice-custom-checkbox {
	padding-left: 0;
	padding-right: 1.5em;
}

.rtl ._winvoice-custom-control-label:after,
.rtl ._winvoice-custom-control-label:before {
	right: -1.6em;
	left: 0;
}

.rtl ._winvoice-custom-switch ._winvoice-custom-control-input:checked~._winvoice-custom-control-label:after {
	transform: translateX(-1.6em);
}

.rtl ._winvoice-sidebar-navbar-vertical._winvoice-sidebar-navbar-expand-md ._winvoice-sidebar-navbar-nav ._winvoice-sidebar-nav-link.active:before {border-left:0;left: auto;right: 0;border-right: 4px solid #2c7be5;}

h4 {}

.rtl ._winvoice-header-title h4 {
	margin-right: 25px;
	margin-left: 0;
}

.rtl ._winvoice-btn-primary {float:right;}

.rtl ._winvoice-custom-label {
	float: right;
}

.rtl ._winvoice-tinymce-label {
	float: right;
}

.rtl ._winvoice-dashboard-header img {
	margin-right: 20px;
	margin-left: 0;
	float: right;
}

.rtl .wapk-woo-invoice-support-btn {
	float: left;
}

.rtl [tooltip][flow^="right"]::before {
	display: none;
}

.rtl [tooltip][flow^="right"]::after {
	right: calc(100% + 5px);
	left:0;
}

._winvoice-form-group:after {
	display: block;
	content: " ";
	clear: both;
}

.rtl
.wpifw_static_files_section
._winvoice-form-group
._winvoice-btn._winvoice-btn-primary {margin-left:20px;}
